.font-size-container{
    padding: 3em 0;
    background-color: white;
    color: #464646;
}
.font-size-container h3{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.font-size-container hr{
    background-color: #f3f3f3;
    height: 2px;
    border: none;
}
.font-size-container p{
    color: #000000;
    font-family: Manrope;
    font-weight: 400;
    padding: 2em 0;
}
.grid-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
    width: 100%;
}
.grid-column{
    width: 33.33%;
    font-size: 0.85em;
    display: flex;
    font-family: Manrope;
    font-weight: 400;
    padding-bottom: 0.6em;
}
.grid-item-container{
    padding: 0.3em 1em;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DFDCDF;
}
.grid-item-container:first-child .grid-column{
    font-weight: 600;
}