.line-height-container{
    background-color: white;
    font-family: Poppins;
    color: #464646;
}
.line-height-container h3{
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.line-height-container hr{
    background-color: #f3f3f3;
    height: 2px;
    border: none;
}
.line-height-subtitle p{
    color: #000000;
    font-family: Poppins;
    font-weight: 400;
    padding: 2em 0;
}
.line-height-title{
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
}
.line-height-content{
    width: 50%;
    background-color: #f3f3f3;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-height-subtitle{
    width: 50%;
    padding-left: 2em;
}
.line-height-subtitle h3{
    font-weight: 500;
    font-size: 1.1em;
    color: #000000;
}
.line-height-subtitle p{
    padding: 0;
}
.cyan{
    width: 100%;
    background-color: #B1FFFA;
    height: 1.5em;
    position:relative;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.line-height-title-container{
    width: 40%;
    font-weight: 500;
    color: #000000;
}
.line-height-title-container p{
    display: flex;
    justify-self: center;
    color: #000000;
    font-weight: 500;
    padding: 0;
}