.header-container{
    background-color: white;
    color: #464646;
}
.first-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-container h1{
    font-weight: 600;
    font-size: 3em;
}
.header-container p{
    font-weight: 200;
    margin-top: 2em;
}
.header-container h6{
    font-weight: 400;
}
