.text-format-container{
    font-family: Poppins;
    background-color: white;
    color: #464646;
    flex-direction: column;
}
.text-format-container h3{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.text-format-container hr{
    background-color: #f3f3f3;
    height: 2px;
    border: none;
}
.text-format-container p{
    color: #000000;
    font-family: Manrope;
    font-weight: 400;
    padding: 2em 0;
}
.text-format-content{
    display: flex;
    flex-direction: column;
}
.text-format-titles{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.text-format-titles:nth-child(1){
    margin-top: 0;
}
.text-format-titles:last-child{
    margin-bottom: 0;
}
.text-format-title-content{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    height: 13em;
}
.text-format-button{
    border-radius: 16px;
    padding: 0.3em 2em;
    font-family: Poppins;
    font-size: 1em;
    font-weight: 400;
    color: white;
    background-color: #0F799B;
    border: none;
}
.text-format-button i{
    text-decoration: underline 1px solid #ffffff;
}
.text-format-button:hover{
    cursor: pointer;
}
.text-format-subtitle{
    padding-left: 2em;
    width: 50%;
}
.text-format-subtitle h3{
    color: #000000;
    font-weight: 500;
    font-size: 1.1em;
}
.text-format-subtitle p{
    color: #000000;
    font-weight: 400;
    font-size: 1em;
    padding: 1em 0;
}
.text-format-subtitle a{
    text-decoration: underline 1px solid #000000;
    color: #000000;
}
