*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}
body{
  font-family: Poppins;
}
.container{
  display: flex;
  height: 100%;
}
.bar{
  position: fixed;
  width: 13%;
  flex-shrink: 0;
  background-color: #F5E0E0;
  height: 100%;
  color: #464646;
}
.content{
  width: 87%;
  margin-left: 13%;
  border-left: 1px solid black;
  background-color: #F3F3F3;
  padding: 5% 8%;
}

.space{
  background-color: #F3F3F3;
  height: 40px;
}