*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}
body{
  font-family: Poppins;
}
.container{
  display: flex;
  height: 100vh;
}
.bar{
  width: 13%;
  flex-shrink: 0;
  background-color: #F5E0E0;
  height: 100%;
  color: #464646;
}

