.footer-container{
    background-color: white;
    font-family: Poppins;
}

.footer-selection{
    color: #147AF3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
}
.footer-copyright{
    display: flex;
    justify-content: flex-end;
}
.footer-container hr{
    width: 100%;
    border: none;
    height: 1px;
    background-color: #DFDCDF;
    margin-top: 2em;
}
.footer-copyright p{
    font-size: 0.8em;
    padding: 2em 0;
}
.footer-selection p:hover{
    cursor: pointer;
}