.typeface-container{
    background-color: white;
    color: #464646;
    padding-bottom: 2em;
}
.typeface-container h3{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.typeface-container hr{
    background-color: #f3f3f3;
    height: 2px;
    border: none;
}
.typeface-container p{
    color: #000000;
    font-family: Manrope;
    font-weight: 400;
    padding: 2em 0;
}
.typeface-container a{
    color: #000000;
    padding: 0 3px;
    padding-bottom: 2em;
    text-decoration: underline 1px solid #464646;
}
.typeface-letters{
    display: flex;
    flex-direction: row;
    padding: 5% 0;
    font-size: 3em;
    color: #000000;
    justify-content: space-evenly;
    background-color:#f3f3f3;
}
.typeface-english{
    font-family: Manrope;
    font-weight: 700;
}
.typeface-crillic{
    font-family: Manrope;
    font-weight: 600;
}
